body {
    font-family: 'Merienda', cursive;
}

nav {
    background-color: cornflowerblue;
    display: flex;
    flex-wrap: nowrap;
    border: 2px solid black;
}

nav ul {
    margin: 0;
    padding: 0;
    
}


nav li {
    display: inline-block; 
    margin: 16px;
        
}

a {
    color: white;
}
a:hover {
    color: red;
}

.jam-countryImages {
   max-width: 250px;
   max-height: 150px;
   border: 5px solid black;
   
   
}


#jam-countryImages { 
   display: flex;
   justify-content: space-evenly;
   padding-top: 1em;
      
}


nav {
    border-bottom: 2px solid black;
}


h1 {
    border-top: 2px solid black;
}


section{
    display: flex;
    flex-wrap: wrap;
    
}


.jam-cities {
    min-width: 350px;
    min-height: 250px;
    max-width: 650px;
    max-height: 550px;
    background: linear-Gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(/images/Jamaica1small.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items : center;
    border: thick solid black;
    margin: 1em;
    padding-left: .5em;
    
}
.jam-cities:hover {
    max-width: 100%;
    max-height: auto;
    background: url(/images/Dolphin.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items : center;
    
    
}
.jam-landmarks {
    min-width: 350px;
    min-height: 250px;
    max-width: 650px;
    max-height: 550px;
    background: linear-Gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(/images/Kissingdolphin.jfif);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items : center;
    border: thick solid black;
    margin: 1em;
    padding-left: .5em;
    
    
}
.jam-landmarks:hover {
    max-width: 100%;
    max-height: auto;
    background: url(/images/museum.jfif);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items : center;
    
}
.jam-citizens {
    min-width: 350px;
    min-height: 250px;
    max-width: 650px;
    max-height: 550px;
    background: linear-Gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(/images/cove.jfif);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items : center;
    border: thick solid black;
    margin: 1em;
    padding-left: .5em;
}
 





    
    
    
    

.jam-citizens:hover {
    max-width: 100%;
    max-height: auto;
    background: url(/images/Marleys.jfif);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items : center;
    
    
    
    
}


h2 {
    color: white;
    font-size: 2em;
    
    
}
ul {
    color: white;
}
li {
    position: relative;
    padding: 1.5em;
    font-size: large;
}

#jam-mainInformation {
    width: auto;
    height: auto;
    background: url(/images/Kingston.jpg);
    background-size: cover;
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
} 
    
   

