@import "main.css";

.united {
    color: red;   
}

.king {
    color: blue;
}

.dom {
   color: white; 
}

.countryImages {
   max-width: 250px;
   max-height: 150px;
   border-style: inset;
   border-width: 10px;
   box-shadow: 5px 5px 5px 5px black;      
}

h1 {
    max-width: 100%;
    height: auto;
    position: relative;
    animation: my 10s infinite;
    animation-direction: alternate;
    background-color:black ;
    width: fit-content;
    box-shadow: 10px 10px 8px 3px black;
}
  
#countryImages { 
   display: flex;
   justify-content: space-evenly;
   padding-top: 1em;
   
}

section{
    display: flex;
    flex-wrap: wrap;  
}

.cities {
    max-width: 100%;
    height: auto;
    background: linear-Gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(/images/London.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items : center;
    border: thick solid black;
    margin: 1em;
    padding-left: .5em;
    box-shadow: 10px 10px 8px 3px black;
}

.cities:hover {
    max-width: 100%;
    max-height: auto;
    background: url(/images/London.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items : center;
}

.landmarks {
    max-width: 100%;
    height: auto;
    background: linear-Gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(/images/Buckingham.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items : center;
    border: thick solid black;
    margin: 1em;
    padding-left: .5em;
    box-shadow: 10px 10px 8px 3px black;
}

.landmarks:hover {
    max-width: 100%;
    max-height: auto;
    background: url(/images/Buckingham.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items : center;
    
}

.citizens {
    max-width: 100%;
    height: auto;
    background: linear-Gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(/images/Famous.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items : center;
    border: thick solid black;
    margin: 1em;
    padding-left: .5em;
    box-shadow: 10px 10px 8px 3px black;
}

.citizens:hover {
    max-width: 100%;
    max-height: auto;
    background: url(/images/Famous.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items : center;  
}

h2 {
    color: white;
    font-size: 2em;    
}

ul {
    color: white;
}

li {
    position: relative;
    padding: 1.5em;
    font-size: large;   
}

#mainInformation {
    width: auto;
    height: auto;
    background: url(/images/UK_FLAG.jpg);
    background-size: fill;
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
} 